html {
    font-size: 100%;
    // background-color: #192841;
}

*, *:after, *:before {
    box-sizing: border-box;
}



a, a:visited, a:hover {
    text-decoration: none;
}

figure  {
    padding: 0;
}


h1,h2,h3 {
    font-family: $type-headers;  
    margin: 0;

}

h1 {
    font-size: $font-xlg;
    color: $orange;
}

h2 {
    font-size: $font-lg;
    color: $orange;
}

h3 {
    color: $black;
    font-size: $font-lg;
    font-weight: 400;
}

h4 {
    color: $blue;
}

ul li{
    display: inline-block;
    list-style-type: none;

}

header {

    nav {
        font-family: $type-headers;
    }

}

strong {
    color: $orange;
}


p {
    line-height: 1.5;
    margin-bottom: 2.25rem;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.3;
    font-family: $type-body;
    font-size: $font-reg;
    color: $black;
    background-color: $cream;
    overflow-x: hidden;



    &.noscroll {
        overflow: hidden;
    }

    @include breakpoint-up(large) {
        font-size: $font-reg;
    }
}


.footer {
    color: #ffffff;
    background-color: #315b77;
    padding: 1rem;
    text-align: center;
    
}

// Spacing
.container {
    max-width: 69.375rem;
    margin: 0 auto;
    

    &--pall {
        padding-top: 4.375rem;
        padding-bottom: 4.375rem;
        padding-right: 1.5rem;
        padding-left: 1.5rem;

        @include breakpoint-up(large){
            padding-top: 6rem;
            padding-bottom: 6rem;
        }
    }
   
}

//Flexbox styles
.flex {
    display: flex;

    &-jc-sb {
        justify-content: space-between;
    }

    &-jc-c {
        justify-content: center;
    }

    &-ai-c {
        align-items: center;
    }
}

// Visibility 
.hide-for-mobile {
    //hide for tablet and mobile devices
    @include breakpoint-down(medium) {
        display: none;
    }
}

.hide-for-desktop {
    //hide for desktop viewport widths
    @include breakpoint-up(large) {
        display: none;
    }
}
