.hero {

    .container {
        @include breakpoint-up(medium){
            display: flex;
            align-items: center;
        }
    }

    &__image {
        position: relative;
        background-image: url('/dist/images/Michael_HDSHT-2r.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        height: 400px;
        width: 300px;
        min-height: 17.5rem; //280px
        min-width: 17.5rem; //280px
        border-radius: 5px;
        
 
        @include breakpoint-up(medium){
            flex: 2;
            order: 1;
            left: -15px;
        }

        @include breakpoint-up(large){
            min-height: 30rem; //480px
            min-width: 20rem; //480px
        }
    }

    &__text {
        text-align: center;


        @include breakpoint-up(medium){
            flex: 3;
            order: 1;
            text-align: left;
            font-size: $font-med;
        }
    }
}