

.project {


    &__grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1.875rem;

        @include breakpoint-up(medium){
            grid-template-columns: repeat(2,1fr);
        }

        @include breakpoint-up(large){
            grid-template-columns: repeat(3,1fr);
        }
    }

    &__item {
        border-radius: 0.3125rem;
        overflow: hidden;
        background-color: #fff;
        box-shadow: 0px 3px 12px rgba(0,0,0,0.15);
        transition: all 150ms ease-in-out;

        &:hover {
            transform: scale(1.05);
        }
    }

    &__thumbnail {
        margin: 0;
        height: 17rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        @include breakpoint-up(large){
            height: 22rem;
        }
        
    }

    &__text {
        padding: 1.875rem 1.875rem 2.5rem 1.875rem;
        color: $black;

        @include breakpoint-up(medium){
            padding: 1.875rem 1.5625rem;
        }
    }


    &__client {
        
    }

    &__title {
        font-size: $font-lg;
        line-height: 1.2;
        color:  $orange;
        margin-bottom: 0.5rem;

        &:hover {
            color: $blue;
            transition: color 150ms ease-in-out;
        }
    }

    &__classification {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }



}