//Colors

$orange: #f26726;
$blue: #315b77;
$cream: #f0f0f0;
$black: #000;

//Typography
$type-headers: 'Roboto Condensed', sans-serif;
$type-body: 'Open Sans', sans-serif;


//Font
$font-sm: 0.8125rem; // 13px
$font-reg: 1rem; //16px
$font-med: 1.125rem; //18px
$font-lg: 1.25rem; //20px
$font-xlg: 1.875rem; //30px

